*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;

}



body{
    background-color: white;
}

.sidebar{
    height:95vh;
    width:16vw;
    background-color: #000000;
 

}

.logo{
    height:50px ;
    width: 160px;
    position: relative;
   top:30px;
    left: 30px;
   
}

nav{
    text-decoration: none;
    
}

.icons{
    color: white;
    text-decoration: none;
}

.nav{font-size: 15px;
    position: relative;
   top:50px;
    left: 34px;
    line-height: 20px;
   
}
.nav li{
    margin-bottom: 10px;
}

.song_section{
    height:95vh;
    width:84vw;
   
}
.content{background-color: #1E1E1E;
    display: flex;
}


.Good_morning{
    width: 200px;
    position: relative;
   top:100px;
    left: 34px;
    color: white;
    font-size: 30px;
}

.liked_songs{
    display: flex;
   text-align: center;
   
}

.text{
    width:190px ;
    height:70px ;
    background-color:  #303030 ;
    color: white;
  justify-content: center;
  align-items: center;
   
}

.four_box{
    display: flex;
    justify-content:space-evenly;
    position: relative;
    top: 105px;
    
}

.marshmallow_songs{
    display: flex;
   position: relative;
   top:110px;
    left: 20px;
}

.marshmallow{ width:190px ;
    height:70px ;
    background-color:  #303030 ;
    color: white;
  justify-content: center;
  
 

} 

.shows_might{
    width: 290px;
    position: relative;
   top:118px;
    left: 34px;
    color: white;
    font-size: 25px;
}

.shows{width: 170px;
    height:250px;
    background-color:  #303030 ;
    color: white;
    position: relative;
    top:140px;
    
    
}
.shows_one{
    display: flex;
    justify-content: space-evenly;
   
}

.footer{
    width: 100vw;
    height: 15vh;
    background-color:  #1E1E1E;
    position: absolute;
    top: 530px;
    z-index: 2;

}

.green_footer{
    width: 100vw;
    height: 3vh;
    background-color:  #1ED760;
    position: absolute;
    top: 610px;
    z-index: 2;


}

